In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
statcast = "exit_velocity.csv"

player_info = 'C:/Users/javie/Desktop/Baseball/baseballdatabank-master/core/People.csv'
batting = 'C:/Users/javie/Desktop/Baseball/baseballdatabank-master/core/Batting.csv'

df = pd.read_csv(statcast)
df1 = pd.read_csv(player_info)
df2 = pd.read_csv(batting)

df3=pd.DataFrame.merge(df1,df2,on='playerID')
df3 = df3[(df3['yearID']>2019)]

In [3]:
new_df = df[[' first_name', 'last_name','attempts','max_hit_speed', 'avg_hit_speed',
       'max_distance', 'avg_distance', 'ev95plus','brl_pa']]

new_df1 = df3[['nameFirst', 'nameLast','birthCountry','birthState', 'birthCity']]

new_df2 = new_df1.rename(columns={'nameFirst': 'first_name','nameLast': 'last_name'}).drop_duplicates().reset_index(drop=True)

In [5]:
new_df2['Player'] = new_df2['first_name'].str.cat(new_df2['last_name'],sep=" ")
new_df3 = new_df2[['Player','birthCountry', 'birthState', 'birthCity']]
new_df3 = new_df3.rename(columns={'birthCountry':'Country', 'birthState':'State', 'birthCity':'City'})
new_df3

                 Player    Country              State           City
0          Albert Abreu       D.R.       Monte Cristi       Guayubin
1           Bryan Abreu       D.R.  Distrito Nacional  Santo Domingo
2            Jose Abreu       Cuba         Cienfuegos     Cienfuegos
3          Ronald Acuna  Venezuela          La Guaira      La Guaira
4          Willy Adames       D.R.           Santiago       Santiago
...                 ...        ...                ...            ...
1281   Bruce Zimmermann        USA                 MD      Baltimore
1282  Jordan Zimmermann        USA                 WI     Auburndale
1283        Kyle Zimmer        USA                 CA  San Francisco
1284        Tyler Zuber        USA                 AR     White Hall
1285        Mike Zunino        USA                 FL     Cape Coral

[1286 rows x 4 columns]

df.keys(

In [8]:
new_df['Player'] = new_df[' first_name'].str.cat(new_df['last_name'],sep=" ")
new_df4 = new_df[['Player','attempts', 'max_hit_speed','avg_hit_speed', 'max_distance', 'avg_distance', 'ev95plus', 'brl_pa']]
new_df4

C:\Users\javie\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,attempts,max_hit_speed,avg_hit_speed,max_distance,avg_distance,ev95plus,brl_pa
0,Will Craig,3,100.8,91.6,382,248,2.0,25.0
1,Travis Blankenhorn,3,108.8,89.3,346,240,1.0,25.0
2,Seth Brown,3,105.2,89.0,373,203,1.0,20.0
3,Sam Huff,20,111.4,95.7,410,214,12.0,15.2
4,Austin Dean,2,111.5,99.7,368,342,1.0,14.3
...,...,...,...,...,...,...,...,...
562,Christian Colón,20,103.3,76.0,371,116,4.0,0.0
563,Adolis Garcia,2,76.4,74.4,188,96,NaN,0.0
564,Erick Mejia,9,96.3,74.0,337,171,1.0,0.0
565,Deivy Grullón,2,83.4,73.7,205,159,NaN,0.0
566,Eduardo Núñez,2,80.0,73.6,271,136,NaN,0.0

In [10]:
new_df3.keys()

Index(['Player', 'Country', 'State', 'City'], dtype='object')

In [11]:
statcast_df = new_df4
player_demo = new_df3

In [34]:
statcast_df.keys()

Index(['Player', 'attempts', 'max_hit_speed', 'avg_hit_speed', 'max_distance',
       'avg_distance', 'ev95plus', 'brl_pa'],
      dtype='object')

In [17]:
rds_connection_string = "postgres:Andrew8270@localhost:5432/ETL_project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [35]:
engine.table_names()

['statcast_db', 'player_demo']

In [36]:
statcast_df.to_sql(name="statcast_db", con=engine, if_exists='replace', index=False)

In [37]:
player_demo.to_sql(name="player_demo", con=engine, if_exists='replace', index=False)

In [38]:
merged_df = pd.DataFrame.merge(player_demo,statcast_df,on='Player', how='inner')

In [33]:
merged_df

Empty DataFrame
Columns: [Player, Country, State, City, attempts, max_hit_speed, avg_hit_speed, max_distance, avg_distance, ev95plus, brl_pa]
Index: []